@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

@font-face {
    font-family: 'unicode';
    src: url('./fonts/unifont-15.0.01.woff2');
    src: url('./fonts/unifont-15.0.01.woff') format('woff'),
         url('./fonts/unifont-15.0.01.ttf') format('truetype')
         url('./fonts/unifont-15.0.01.otf') format('opentype')
         url('./fonts/unifont-15.0.01.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --code-font: 'JetBrains Mono', 'monospace', 'unicode';
    --main-font: 'VT323', 'monospace';
    --text-font: 'Ubuntu', 'sans-serif';

    --bg-gradient: linear-gradient(190deg, rgb(82, 96, 133), rgb(29, 29, 45));
    --bg-color: rgb(82, 96, 133);

    --title-shadow: rgb(118, 116, 145) 4px 4px 10px;
    --title-shadow-hv: rgb(118, 116, 145) 6px 6px 10px;

    --icon-color: rgb(47, 43, 71);
    --icon-text-color: rgb(153, 155, 190);
    --title-color: rgb(30, 24, 35);
    --title-color-hv: rgb(41, 41, 87);
    --text-color: rgb(248, 248, 242);
    --placeholder-color: rgb(128, 125, 125);

    --editor-color: rgb(40, 42, 54);
    --output-color: rgb(28, 24, 31);
    --footer-color: rgb(22, 20, 30);
    --input-color: rgb(81, 75, 103);
    --reload-btn-color: rgb(29, 30, 38);
    --reload-btn-color-hv: rgb(22, 23, 28);

    --scrollbar-main: rgb(61, 56, 84);
    --scrollbar-hv: rgb(69, 63, 93);

    --modal-bg-color: rgb(45, 42, 62);
    --modal-code-bg: rgb(32, 30, 42);
    --modal-text-color: rgb(202, 185, 202);
}

a {
    color: inherit;
    transition: 0.2s ease;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:
        var(--bg-gradient),
        var(--bg-color);
}

nav {
    text-shadow: var(--title-shadow);
    margin: 0.5em;
    font-size: 5em;
    font-family: var(--main-font);
    color: var(--title-color);
    text-align: center;
}

nav a:hover {
    text-shadow: var(--title-shadow-hv);
    color: var(--title-color-hv);
}

#footer {
    padding: 1em;
    margin-top: 5em;
    color: var(--text-color);
    background-color: var(--footer-color);
    font-family: var(--main-font);
    font-size: 1.2em;
    text-align: center;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2em;
}

#icon {
    display: inline-block;
    color: var(--icon-text-color);
    border-radius: 50%;
    padding: 0.25em;
    text-shadow: var(--title-shadow);
    box-shadow: var(--title-shadow);
    font-size: 55%;
    transition: 0.3s ease;
    background: var(--icon-color);
    transform: translateY(-1rem);
}

#icon:hover {
    text-shadow: var(--title-shadow-hv);
    box-shadow: var(--title-shadow-hv);
}

#input {
    width: 60%;
    height: 40em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 0.75em;
    background-color: var(--editor-color);
}

#editor {
    flex-grow: 1;
    font-family: var(--code-font);
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    font-size: 14px;
}

#options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
}

#options input {
    border: none;
    border-radius: 0.75em;
    color: var(--text-color);
    background-color: var(--input-color);
}

#options input::placeholder {
    color: var(--placeholder-color);
}

#options input[type=number] {
    width: 50%;
}

#options button {
    font-family: var(--text-font);
    font-size: 1em;
    color: var(--text-color);
    border-radius: 0.75em;
    padding: 0.75em;
}

#options #reload-btn {
    background-color: var(--reload-btn-color);
}

#options #reload-btn img {
    width: 2em;
}

#options #reload-btn:hover {
    background-color: var(--reload-btn-color-hv);
}

#options #submit {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#output-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.6em;
    font-size: 20px;
    margin-bottom: 1em;
}

#output-header > * {
    display: flex;
    align-items: center;
}

#output-header #instructions-count {
    font-size: 0.75em;
    filter: brightness(85%);
}

#output-header #view-cells {
    margin-left: auto;
    padding: 0.5em;
}

#output-header #view-cells img {
    width: 1.7em;
}

#output {
    padding: 1.5em;
    border-radius: 0.75em;
    background-color: var(--output-color);
    width: 60%;
    min-height: 20em;
    color: var(--text-color);
    font-family: var(--code-font);
}

#output #output-content {
    resize: none;
    width: 100%;
    border: none;
    color: inherit;
    min-height: inherit;
    white-space: pre;
    overflow-x: scroll;
    background-color: var(--output-color);
}

#output-content::-webkit-scrollbar,
#modal-body pre::-webkit-scrollbar {
    height: 0.9em;
}

.ace_scrollbar-v::-webkit-scrollbar {
    width: 0.9em;
}

.ace_scrollbar-h::-webkit-scrollbar {
    height: 0.9em;
}

#output-content::-webkit-scrollbar-thumb,
#modal-body pre::-webkit-scrollbar-thumb,
.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-main);
    border-radius: 0.5em;
}

#output-content::-webkit-scrollbar-thumb:hover,
#modal-body pre::-webkit-scrollbar-thumb:hover,
.ace_scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hv);
}

#output-content::-webkit-scrollbar-track,
#modal-body pre::-webkit-scrollbar-track,
.ace_scrollbar::-webkit-scrollbar-track {
    background: none;
}

#output #output-content:focus {
    outline: none;
}

.modal-content {
    background-color: var(--modal-bg-color);
    color: var(--modal-text-color);
    font-family: var(--text-font);
}

#modal-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 500;
    gap: 0.8em;
}

#modal-body #cells {
    width: 100%;
    background-color: var(--modal-code-bg);
    border-radius: 0.5em;
    padding: 0.3em 0.5em 0.5em;
}

#modal-body pre {
    filter: brightness(80%);
    margin: 0;
    margin-top: 1em;
}

.md-section {
    border: none;
}