@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

:root {
    --code-font: 'JetBrains Mono', 'monospace';
    --main-font: 'VT323', 'monospace';
    --text-font: 'Ubuntu', 'sans-serif';

    --text-color: rgb(248, 248, 242);

    --editor-color: rgb(40, 42, 54);
    --output-color: rgb(24, 22, 26);
    --footer-color: rgb(22, 20, 33);
    --btn-green: rgb(42, 156, 68);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    filter: brightness(130%);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:
        linear-gradient(rgb(78, 88, 115), rgb(44, 44, 52)),
        rgb(78, 88, 115);
}

nav {
    margin: 0.5em;
    font-size: 5em;
    font-family: var(--main-font);
    color: rgb(30, 24, 50);
    text-align: center;
}

footer {
    padding: 1em;
    margin-top: 5em;
    color: var(--text-color);
    background-color: var(--footer-color);
    font-family: var(--main-font);
    font-size: 1.2em;
    text-align: center;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2em;
}

#input {
    width: 60%;
    height: 40em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 0.75em;
    background-color: var(--editor-color);
}

#editor {
    flex-grow: 1;
    font-family: var(--code-font);
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    font-size: 14px;
}

#options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1em;
    gap: 1em;
}

#options input {
    border: none;
    border-radius: 0.75em;
    background-color: rgb(81, 75, 103);
}

#options button {
    font-family: var(--text-font);
    font-size: 1em;
    color: var(--text-color);
    border-radius: 0.75em;
    padding: 0.75em;
}

#options #submit {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#output-header {
    margin: 1em;
    font-size: 20px;
}

#output {
    border-radius: 0.75em;
    background-color: var(--output-color);
    width: 60%;
    min-height: 20em;
    color: var(--text-color);
    white-space: pre;
    font-family: var(--code-font);
}